In [1]:
import pandas as pd

In [2]:
space_org = {'Organizations_name' : ["CNES", "ISRO", "NASA", "JAXA", "CNSA"],
                   'Headquarters' : ["Paris", "Bangalore", "Washington",
                                     "Tokyo", "Beijing"],
                   'Country_name' : ["France", "India", "USA", "Japan", "China"],
                 'Formation_year' : [1961, 1969, 1958, 2003, 1993]
             }

In [3]:
space_org_df = pd.DataFrame(space_org)

In [4]:
space_org_df

  Organizations_name Headquarters Country_name  Formation_year
0               CNES        Paris       France            1961
1               ISRO    Bangalore        India            1969
2               NASA   Washington          USA            1958
3               JAXA        Tokyo        Japan            2003
4               CNSA      Beijing        China            1993

In [5]:
for row in space_org_df.itertuples():
    print(row)

Pandas(Index=0, Organizations_name='CNES', Headquarters='Paris', Country_name='France', Formation_year=1961)
Pandas(Index=1, Organizations_name='ISRO', Headquarters='Bangalore', Country_name='India', Formation_year=1969)
Pandas(Index=2, Organizations_name='NASA', Headquarters='Washington', Country_name='USA', Formation_year=1958)
Pandas(Index=3, Organizations_name='JAXA', Headquarters='Tokyo', Country_name='Japan', Formation_year=2003)
Pandas(Index=4, Organizations_name='CNSA', Headquarters='Beijing', Country_name='China', Formation_year=1993)

In [6]:
for row in space_org_df.iterrows():
    print(row)

(0, Organizations_name      CNES
Headquarters           Paris
Country_name          France
Formation_year          1961
Name: 0, dtype: object)
(1, Organizations_name         ISRO
Headquarters          Bangalore
Country_name              India
Formation_year             1969
Name: 1, dtype: object)
(2, Organizations_name          NASA
Headquarters          Washington
Country_name                 USA
Formation_year              1958
Name: 2, dtype: object)
(3, Organizations_name     JAXA
Headquarters          Tokyo
Country_name          Japan
Formation_year         2003
Name: 3, dtype: object)
(4, Organizations_name       CNSA
Headquarters          Beijing
Country_name            China
Formation_year           1993
Name: 4, dtype: object)

In [7]:
for row_index,row in space_org_df.iterrows():
    print(row_index)
    print(row)

0
Organizations_name      CNES
Headquarters           Paris
Country_name          France
Formation_year          1961
Name: 0, dtype: object
1
Organizations_name         ISRO
Headquarters          Bangalore
Country_name              India
Formation_year             1969
Name: 1, dtype: object
2
Organizations_name          NASA
Headquarters          Washington
Country_name                 USA
Formation_year              1958
Name: 2, dtype: object
3
Organizations_name     JAXA
Headquarters          Tokyo
Country_name          Japan
Formation_year         2003
Name: 3, dtype: object
4
Organizations_name       CNSA
Headquarters          Beijing
Country_name            China
Formation_year           1993
Name: 4, dtype: object

In [8]:
for key,value in space_org_df.iteritems():
    print('Key Value: ', key)
    print(value)

Key Value:  Organizations_name
0    CNES
1    ISRO
2    NASA
3    JAXA
4    CNSA
Name: Organizations_name, dtype: object
Key Value:  Headquarters
0         Paris
1     Bangalore
2    Washington
3         Tokyo
4       Beijing
Name: Headquarters, dtype: object
Key Value:  Country_name
0    France
1     India
2       USA
3     Japan
4     China
Name: Country_name, dtype: object
Key Value:  Formation_year
0    1961
1    1969
2    1958
3    2003
4    1993
Name: Formation_year, dtype: int64

In [9]:
for value in space_org_df.iteritems():
    print(value)

('Organizations_name', 0    CNES
1    ISRO
2    NASA
3    JAXA
4    CNSA
Name: Organizations_name, dtype: object)
('Headquarters', 0         Paris
1     Bangalore
2    Washington
3         Tokyo
4       Beijing
Name: Headquarters, dtype: object)
('Country_name', 0    France
1     India
2       USA
3     Japan
4     China
Name: Country_name, dtype: object)
('Formation_year', 0    1961
1    1969
2    1958
3    2003
4    1993
Name: Formation_year, dtype: int64)