In [1]:
import pandas as pd

In [2]:
unsorted_imdb_rating = pd.read_csv(r'./datasets/unsorted_imdb_rating.csv')

In [3]:
unsorted_imdb_rating

,star_rating,title,genre,duration
0,9.3,The Shawshank Redemption,Crime,142
1,9.1,The Godfather,Crime,175
2,9.2,The Godfather: Part II,Crime,200
3,9.0,The Dark Knight,Action,152
4,8.9,Pulp Fiction,Crime,154
5,8.8,12 Angry Men,Drama,96
6,8.7,"The Good, the Bad and the Ugly",Western,161
7,8.9,The Lord of the Rings: The Return of the King,Adventure,201
8,8.3,Schindler's List,Biography,195
9,8.1,Fight Club,Drama,139

In [4]:
unsorted_imdb_rating.index = [8, 9, 5, 4, 7, 1, 2, 0, 3, 6]

In [5]:
unsorted_imdb_rating

,star_rating,title,genre,duration
8,9.3,The Shawshank Redemption,Crime,142
9,9.1,The Godfather,Crime,175
5,9.2,The Godfather: Part II,Crime,200
4,9.0,The Dark Knight,Action,152
7,8.9,Pulp Fiction,Crime,154
1,8.8,12 Angry Men,Drama,96
2,8.7,"The Good, the Bad and the Ugly",Western,161
0,8.9,The Lord of the Rings: The Return of the King,Adventure,201
3,8.3,Schindler's List,Biography,195
6,8.1,Fight Club,Drama,139

In [6]:
unsorted_imdb_rating.sort_index()

,star_rating,title,genre,duration
0,8.9,The Lord of the Rings: The Return of the King,Adventure,201
1,8.8,12 Angry Men,Drama,96
2,8.7,"The Good, the Bad and the Ugly",Western,161
3,8.3,Schindler's List,Biography,195
4,9.0,The Dark Knight,Action,152
5,9.2,The Godfather: Part II,Crime,200
6,8.1,Fight Club,Drama,139
7,8.9,Pulp Fiction,Crime,154
8,9.3,The Shawshank Redemption,Crime,142
9,9.1,The Godfather,Crime,175

In [7]:
unsorted_imdb_rating.sort_index(ascending = False)

,star_rating,title,genre,duration
9,9.1,The Godfather,Crime,175
8,9.3,The Shawshank Redemption,Crime,142
7,8.9,Pulp Fiction,Crime,154
6,8.1,Fight Club,Drama,139
5,9.2,The Godfather: Part II,Crime,200
4,9.0,The Dark Knight,Action,152
3,8.3,Schindler's List,Biography,195
2,8.7,"The Good, the Bad and the Ugly",Western,161
1,8.8,12 Angry Men,Drama,96
0,8.9,The Lord of the Rings: The Return of the King,Adventure,201

In [8]:
unsorted_imdb_rating.sort_index(axis = 1)

,duration,genre,star_rating,title
8,142,Crime,9.3,The Shawshank Redemption
9,175,Crime,9.1,The Godfather
5,200,Crime,9.2,The Godfather: Part II
4,152,Action,9.0,The Dark Knight
7,154,Crime,8.9,Pulp Fiction
1,96,Drama,8.8,12 Angry Men
2,161,Western,8.7,"The Good, the Bad and the Ugly"
0,201,Adventure,8.9,The Lord of the Rings: The Return of the King
3,195,Biography,8.3,Schindler's List
6,139,Drama,8.1,Fight Club

In [9]:
unsorted_imdb_rating['genre'].sort_index()

0    Adventure
1        Drama
2      Western
3    Biography
4       Action
5        Crime
6        Drama
7        Crime
8        Crime
9        Crime
Name: genre, dtype: object

In [10]:
unsorted_imdb_rating

,star_rating,title,genre,duration
8,9.3,The Shawshank Redemption,Crime,142
9,9.1,The Godfather,Crime,175
5,9.2,The Godfather: Part II,Crime,200
4,9.0,The Dark Knight,Action,152
7,8.9,Pulp Fiction,Crime,154
1,8.8,12 Angry Men,Drama,96
2,8.7,"The Good, the Bad and the Ugly",Western,161
0,8.9,The Lord of the Rings: The Return of the King,Adventure,201
3,8.3,Schindler's List,Biography,195
6,8.1,Fight Club,Drama,139

In [11]:
unsorted_imdb_rating.sort_values(by = 'duration')

,star_rating,title,genre,duration
1,8.8,12 Angry Men,Drama,96
6,8.1,Fight Club,Drama,139
8,9.3,The Shawshank Redemption,Crime,142
4,9.0,The Dark Knight,Action,152
7,8.9,Pulp Fiction,Crime,154
2,8.7,"The Good, the Bad and the Ugly",Western,161
9,9.1,The Godfather,Crime,175
3,8.3,Schindler's List,Biography,195
5,9.2,The Godfather: Part II,Crime,200
0,8.9,The Lord of the Rings: The Return of the King,Adventure,201

In [12]:
unsorted_imdb_rating[['star_rating', 'title', 'genre']].sort_values(by = ['genre', 'star_rating'])

   star_rating                                          title      genre
4          9.0                                The Dark Knight     Action
0          8.9  The Lord of the Rings: The Return of the King  Adventure
3          8.3                               Schindler's List  Biography
7          8.9                                   Pulp Fiction      Crime
9          9.1                                  The Godfather      Crime
5          9.2                         The Godfather: Part II      Crime
8          9.3                       The Shawshank Redemption      Crime
6          8.1                                     Fight Club      Drama
1          8.8                                   12 Angry Men      Drama
2          8.7                 The Good, the Bad and the Ugly    Western