In [25]:
!pip install seaborn

Requirement already satisfied: seaborn in /anaconda3/lib/python3.6/site-packages (0.8.1)
Requirement already satisfied: numpy in /anaconda3/lib/python3.6/site-packages (from seaborn) (1.14.3)
Requirement already satisfied: scipy in /anaconda3/lib/python3.6/site-packages (from seaborn) (1.1.0)
Requirement already satisfied: matplotlib in /anaconda3/lib/python3.6/site-packages (from seaborn) (2.2.2)
Requirement already satisfied: pandas in /anaconda3/lib/python3.6/site-packages (from seaborn) (0.23.3)
Requirement already satisfied: cycler>=0.10 in /anaconda3/lib/python3.6/site-packages (from matplotlib->seaborn) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /anaconda3/lib/python3.6/site-packages (from matplotlib->seaborn) (2.2.0)
Requirement already satisfied: python-dateutil>=2.1 in /anaconda3/lib/python3.6/site-packages (from matplotlib->seaborn) (2.7.3)
Requirement already satisfied: pytz in /anaconda3/lib/python3.6/site-packages (from matplotlib->seaborn) (2018.4)
Requirement already satisfied: six>=1.10 in /anaconda3/lib/python3.6/site-packages (from matplotlib->seaborn) (1.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /anaconda3/lib/python3.6/site-packages (from matplotlib->seaborn) (1.0.1)
Requirement already satisfied: setuptools in /anaconda3/lib/python3.6/site-packages (from kiwisolver>=1.0.1->matplotlib->seaborn) (39.1.0)
distributed 1.21.8 requires msgpack, which is not installed.
You are using pip version 10.0.1, however version 18.0 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [26]:
import seaborn as sns

In [27]:
print(sns.__version__)

0.8.1

In [28]:
import pandas as pd

In [29]:
print(pd.__version__)

0.23.3

#### Seaborn contain some sample datasets in order to perform the visualisation operations. In further course the stored data will be used but here the pokemon dataset has been loaded and the stastical characteristics of the dataset is evaluated.

In [30]:
pokemon_data = pd.read_csv('Datasets/Pokemon.csv')

https://www.kaggle.com/abcsds/pokemon/version/2#

#### In the dataset Type 1 and Type 2 are the first and second abilities of the the Pokemons and acording to their capabilities of Attack, Defense,Sp. Atk,Sp. Def,speed and Health, points have ben assisgned to them. The column 'Generation' shows which generation Pokemons are they.
.head() and .tail() functions show top 5 and bottom 5 rows respectively by default.

In [31]:
pokemon_data.head()

,Name,Type 1,Type 2,Total Point,Health Point,Attack Point,Defense Point,Sp. Atk Point,Sp. Def Point,Speed Point,Generation
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1

In [33]:
pokemon_data.tail()

,Name,Type 1,Type 2,Total Point,Health Point,Attack Point,Defense Point,Sp. Atk Point,Sp. Def Point,Speed Point,Generation
51,Paras,Bug,Grass,285,35,70,55,45,55,25,1
52,Parasect,Bug,Grass,405,60,95,80,60,80,30,1
53,Venonat,Bug,Poison,305,60,55,50,40,55,45,1
54,Venomoth,Bug,Poison,450,70,65,60,90,75,90,1
55,Diglett,Ground,NaN,265,10,55,25,35,45,95,1

##### It gives the total numbers of rows

In [34]:
print(len(pokemon_data.index))

56

In [32]:
pokemon_data.describe()

,Total Point,Health Point,Attack Point,Defense Point,Sp. Atk Point,Sp. Def Point,Speed Point,Generation
count,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.000000,56.0
mean,390.714286,61.875000,69.196429,61.785714,65.142857,64.982143,67.732143,1.0
std,119.781728,21.734817,24.774928,23.425483,32.938747,24.795521,26.458538,0.0
min,195.000000,10.000000,20.000000,20.000000,15.000000,20.000000,20.000000,1.0
25%,296.250000,45.000000,51.500000,43.750000,40.000000,50.000000,45.000000,1.0
50%,395.000000,60.000000,65.000000,57.500000,60.000000,65.000000,65.000000,1.0
75%,483.500000,75.750000,83.250000,77.250000,85.000000,80.000000,86.250000,1.0
max,634.000000,140.000000,150.000000,123.000000,159.000000,120.000000,145.000000,1.0