In [1]:
import pandas as pd

In [2]:
automobile_df = pd.DataFrame({'car_name' : ["Toyota Corolla Mark ii",
                                            "Chevrolet Chevelle Malibu",
                                            "Audi 100 LS",
                                            "BMW 2002",
                                            "Datsun PL510"],
                                   'mpg' : [24, 18, 24, 26, 27],
                            'horsepower' : [95, 130, 90, 113, 88],
                        'origin_country' : ["Japan", "US", "Germany", 
                                            "Germany", "Japan"]
    
                            })

In [3]:
automobile_df

                    car_name  mpg  horsepower origin_country
0     Toyota Corolla Mark ii   24          95          Japan
1  Chevrolet Chevelle Malibu   18         130             US
2                Audi 100 LS   24          90        Germany
3                   BMW 2002   26         113        Germany
4               Datsun PL510   27          88          Japan

In [4]:
automobile_df.to_csv('new_automobile.csv')
print('Export to CSV successful')

Export to CSV successful

In [5]:
automobile_df.to_csv('new_automobile_wi.csv', index = False)
print('Export to CSV successful')

Export to CSV successful

In [6]:
automobile_df.columns

Index(['car_name', 'mpg', 'horsepower', 'origin_country'], dtype='object')

In [7]:
automobile_df.to_csv("new_automobile_wi_1.csv", 
                      columns=["car_name", "horsepower", "mpg"],
                      index=False)
print('Export to CSV successful')

Export to CSV successful

In [8]:
automobile_df.to_excel('new_automobile.xlsx', 
                        sheet_name = "automobile",
                        index = False
                      )
print('Export to Excel successful')

Export to Excel successful

In [9]:
automobile_df

                    car_name  mpg  horsepower origin_country
0     Toyota Corolla Mark ii   24          95          Japan
1  Chevrolet Chevelle Malibu   18         130             US
2                Audi 100 LS   24          90        Germany
3                   BMW 2002   26         113        Germany
4               Datsun PL510   27          88          Japan

In [10]:
camera_df = pd.DataFrame({'model' : ["Canon PowerShot A460",
                                     "Kodak C763",
                                     "Nikon Coolpix P500",
                                     "Samsung S850",
                                     "Sony DSC"],
                 'max_resolution' : [2592, 3072, 3648, 3264, 3228],
                 'low_resolution' : [2048, 2592, 2560, 2558, 2624],
                     'zoom_width' : [38, 35, 36, 39, 31],
                        'storage' : [16,  32, 16, 16, 32]
                        })

In [11]:
camera_df

                  model  max_resolution  low_resolution  zoom_width  storage
0  Canon PowerShot A460            2592            2048          38       16
1            Kodak C763            3072            2592          35       32
2    Nikon Coolpix P500            3648            2560          36       16
3          Samsung S850            3264            2558          39       16
4              Sony DSC            3228            2624          31       32

In [12]:
with pd.ExcelWriter('automobile_camera.xlsx') as writer:
    automobile_df.to_excel(writer, sheet_name = "Automobile")
    camera_df.to_excel(writer, sheet_name = "Camera")
print('Export to Excel successful')

Export to Excel successful

In [13]:
camera_df.to_csv('camera.txt', index = False)
print('Export to Text successful')

Export to Text successful