In [2]:
import plotly.plotly as py
import plotly.graph_objs as go
import pandas as pd
import math
import plotly.offline as offline

offline.init_notebook_mode(connected = True)

starting with plotting a bubble on the Losangeles city,Bengaluru city and 0,0 lonititude latitude to understand how scatter geo works

with default land color

In [3]:
trace = dict (type = 'scattergeo',
              
         
              lon = [0, -118.24, 77.59] ,
              lat = [0, 34.05, 12.97],
              
              marker = dict (size = 20),
              
              mode ='markers',  
) 
data = [trace]

In [4]:
layout = dict(showlegend = False,
              
              geo = dict(showland = True)
             )

In [5]:
fig = dict(data = data,
         layout = layout)

In [6]:
offline.iplot(fig)

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_us_cities.csv')
df.head()

            name      pop        lat         lon
0      New York   8287238  40.730599  -73.986581
1   Los Angeles   3826423  34.053717 -118.242727
2       Chicago   2705627  41.875555  -87.624421
3       Houston   2129784  29.758938  -95.367697
4  Philadelphia   1539313  39.952335  -75.163789

In [8]:
latitudes = df['lat'].round(2)
longitudes = df['lon'].round(2)

#### We set a scaling factor
Since the bubbles on our plot will represent the Populations of US Cities, they will be rather large by default. For that reason we apply a scaling factor for the marker size

In [9]:
scale = 100000

**Define the trace**

In [11]:
trace = dict (type = 'scattergeo',
              locationmode = 'USA-states',
              lat = latitudes,
              lon = longitudes ,
              
              text = df['name'],
              
              marker = dict (size = df['pop'] / scale),
                            
              mode='markers',    
) 
data=[trace]

**Define the layout**

In [ ]:
layout = dict(
        title = 'Population of US Cities',
        showlegend = True,
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showland = True,
            landcolor = 'rgb(217, 217, 217)',
            subunitwidth=1,
            countrywidth=1,
            subunitcolor="rgb(255, 255, 255)",
            countrycolor="rgb(255, 255, 255)"
        )
)

In [ ]:
fig=dict(data=data,
         layout=layout)

In [ ]:
offline.iplot(fig)